body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #e6007e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background-color: #b3005c;
}